<b>Latest Stock Updates:</b>

{% for post in posts %}
<b> {{ post.ticker }} </b> ===> <b><i> {% if post.title is not none %} {{ post.title }} {% else %} No title was scraped. {% endif %} </i></b>
{% if post.link is not none %}
    link to post: {{ post.link }}
{% else %}
    link to post was not scraped.
{% endif %}
{% endfor %}
