# ---------------------------------- folders --------------------------------- #
.venv/
.development/

# ----------------------------------- files ---------------------------------- #
obsolete.md
credentials.json