# ---------------------------------- folders --------------------------------- #
.venv/
.development/
.local/
**/__pycache__/
# ----------------------------------- files ---------------------------------- #